p {
    color: black;
}

.canvas {
    position: relative;
    background-image: url("../img/water.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
}

.platform {
    background-color: dodgerblue;

}

.wind-turbine {
    background-color: #e3b35f;

}

.circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 10%;
    top: 100%;
}

.btn-circle:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.btn-circle:hover + .info_text {
    visibility: visible;
}

.info_text {
    text-align: center;
    vertical-align: middle;
    font-size: smaller;
    width: fit-content;
    visibility: hidden;
    position: absolute;
    left: -88px;
}

.round_corners {
    border-radius: 25px;
    border: 2px solid black;
}

.btn-circle {
    width: 25px;
    height: 25px;
    padding: 6px 6px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    position: absolute;
}

.text_v_center {
    text-align: center;
    vertical-align: middle;
}

.top-buffer {
    margin-top: 20px;
}

/*Radio buttons*/
