<launch>
    <arg name="verbose" default="false"/>
    <arg name="do_takeoff" default="true"/>

    <node pkg="mission_control_node" type="mission_control_node" name="mission_control_node" output="screen">
        <param name="verbose" value="$(arg verbose)"/>
        <param name="do_takeoff" value="$(arg do_takeoff)"/>
    </node>

</launch>
